html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container{
  max-width: $max-content-width;
  margin: 0 auto;
}
