
.form {
  display: flex;
  flex-direction: column;

  &__title {
    color: $title-white;
  }

  &__input {
    background-color: inherit;
    border: 0;
    border-bottom: 1px solid $placeholder-text;
    font-size: 1rem;
    line-height: $base-line-height;
    margin-bottom: 2 * $gutter;
    color: $regular-text;

    &:focus {
      outline: none;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;


    &--btn {
      width: 5rem;
      padding: 0.6 * $gutter 0;
      border: 0;
      color: $button-text-grey;

      &:focus {
        outline: none;
      }
    }
  }
}

.cancel {
  background-color: $button-grey;
}

.save {
  background-color: $button-green;
}

//code below found at https://css-tricks.com/snippets/css/style-placeholder-text/

input::-webkit-datetime-placeholder {
   color: $placeholder-text;
   font-size: 1rem;
}

input::-webkit-datetime-edit {
  font-size: 1rem;
}

input:-moz-placeholder { /* Firefox 18- */
   color: $placeholder-text;
   font-size: 1rem;
}

input::-moz-placeholder {  /* Firefox 19+ */
   color: $placeholder-text;
   font-size: 1rem;
}

input:-ms-input-placeholder {
   color: $placeholder-text;
   font-size: 1rem;
}
