<div class="app">
  <header class="header">
    <div class="container">
      <h2 class="header_title">
        {{#link-to 'index' class='home-link'}}
        Run Recorder
        {{/link-to}}
      </h2>
    </div>
  </header>
  {{outlet}}
</div>
