<div class="main-view loading">
  <div class="container">
    <div class="loading">
      <div class="circle-outer">
        <div class="circle-inner">
          <div class="circle-inner2">
            <div class="circle-inner3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{outlet}}
